<nav>
  <div class="usuario">
    <span class="mdi mdi-account"></span>
    <div class="nombre-usuario">
      <span class="director"> Director </span>
      <span class="nombre"> Julio Jacome </span>
    </div>
  </div>
  <div class="icono">
    <img src="./../assets/logo.png" alt="" srcset="" width="142" height="45" />
    <div class="portal">Portal Directorio</div>
  </div>
  <div class="busqueda">
    <div class="barra">
      <input type="text" class="input-busqueda" placeholder="Buscar" />
      <div class="search">
        <span class="mdi mdi-magnify search-icon"></span>
      </div>
    </div>
    <button class="menu">
      <span class="mdi mdi-chevron-left menu-icon"></span>
    </button>
  </div>
</nav>
<header>
  <section class="apps-vinculos">
    <div class="header-vinculos">
      <span class="mdi mdi-apps menu-icon-header"></span>
      <div>ACCESSO APPS</div>
    </div>
    <div class="header-vinculos">
      <span class="mdi mdi-file menu-icon-header"></span>
      <div>NORMATIVA INSTITUCIONAL</div>
    </div>
    <div class="header-vinculos">
      <span class="mdi mdi-map-marker menu-icon-header"></span>
      <div>ENLACES DE INTERES</div>
    </div>
  </section>
  <section class="imagen-banner"></section>
</header>

<main>
  <h2>Apps</h2>
  <section class="cards">
    <div class="card">
      <img src="./../assets/adp.png" alt="" width="83" height="61" />
      <h5>ADP+</h5>
    </div>
    <div class="card">
      <img src="./../assets/sistema.png" alt="" width="83" height="61" />
      <h5>Sistema de compromisos de directorio</h5>
    </div>
    <div class="card">
      <img src="./../assets/adp.png" alt="" width="83" height="61" />
      <h5>Visor de Decisiones+</h5>
    </div>
    <div class="card">
      <img src="./../assets/adp.png" alt="" width="83" height="61" />
      <h5>Sistema de actas del directorio y AG</h5>
    </div>
    <div class="card">
      <img src="./../assets/adp.png" alt="" width="83" height="61" />
      <h5>ADP+</h5>
    </div>
  </section>
</main>
<div class="float">
    <div class="asistencia">
        <img src="./../assets/asistencia.png" alt="" width="36" height="44">
    </div>
</div>